<h1>Game of Life</h1>

<table>
  <tr *ngFor="let row of rows">
    <td *ngFor="let col of row.cols"
      [ngClass]="{'active': col.active}"
      (click)="switchStatus( rows.indexOf(row), row.cols.indexOf(col))"
      class="cell">
  </td>
  </tr>
</table>

<div class="controls">
  <button (click)="randomCells(getElementById(randomInput).value)">Random</button><input type="number" id="randomInput" min="0" step="1" max="5" value="25"/>
  <button (click)="clearGame()">Clear</button>
  <button (click)="playGame()">Play</button>
  <button (click)="stopGame()">Stop</button>
  <span>Generation {{generation}}</span>
</div>